/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree 
 *= require_self
 */

@import 'bootstrap';

/* Global Styles
=============================== */
html,
body,
.content { 
	height: 100%;
	background-color: #222222;
}
.navbar-nav > li > a:focus,
.btn-warning:focus { outline: none; }
body {
	background-color: #2c3e50;
	color: white;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	input { color: #333; }
	.content { padding-top: 50px; }
 }

/* Nav Styles
================================= */
.modal-dialog {
		width: 350px;
		margin: 30px auto;
		.modal-content { border-radius: 2px; }
}
.modals {
 	color: #333;
 	.form-group { margin-bottom: 0; }
 	.input-group { margin-bottom: 8px; }
 	.input-group .form-control:first-child,
 	.input-group .form-control:not(:first-child):not(:last-child) {
 		border-bottom-right-radius: 4px;
 		border-top-right-radius: 4px;
 	}
 	.glyphicon-lock, 
 	.glyphicon-user { 
		font-size: 11.5px;
 	}
 	.soundcloud-img {
		width: 40px; 
		position: absolute;  
		z-index: 100; 
 	}
 	.soundcloud-span { 
 		font-weight: 700; 
 		padding-left: 20px; 
 		display: inline-block; 
 	}
	#soundcloud-login { right: 279px; top: 22px; }	
	#soundcloud-signup { left: 26px; top: 86px; }
 	.btn-warning { 
 		background-color: #FF5500;
 		position: relative;
 		width: 100%; 
 		border-radius: 2px; 
 		height: 51px;
 		font-size: 15px;
 		letter-spacing: .5px;
 	}
}
.navbar {
	.navbar-brand, 
	.navbar-nav > li > a { 
		-webkit-transition: color 1s ease;
		-o-transition: color 1s ease;
		transition: color 1s ease;
	}
	@media(max-width:767px) {
		.nav li { display: inline-block; }
		.navbar-header:before, .navbar-header:after {
			content: none;
		}
	}
}


#sc-widget {
	width: 100%;
	height: 100%;
}