<h1 class="text-center">backstage</h1>

<div class="pull-right welcome">
		<% if current_user %>
			Welcome <%= link_to current_user.name, user_path(current_user.id) %>!
			<%= link_to "Log out", session_path, method: :delete %>
		<% end %>
</div>